{% extends 'base.html' %}

{% block content %}

<style>
    section {
        text-align: center;
    }
</style>

<section>
    <form action="{% url 'update' community.id %}" method="POST" enctype="multipart/form-data" style="margin-top:30px;">
        {% csrf_token %}
        <p>제목: <input type='text' name='title' value="{{community.title}}"></p>
        <p>본문: <textarea name="content" cols='30' rows="10">{{community.content}}</textarea></p>
        <input type="file" name="image"><br><br>
        <button type="submit">수정하기</button><br>
    </form>
    <a href="{% url 'index' %}">
        <button style="margin-top:10px;">홈으로</button>
    </a>
</section>

{% endblock %}